[2018-07-09 09:29] pohly opened #20 "document log levels"
I'm implementing a https://godoc.org/github.com/intel/govmm/qemu#QMPLog logger. The API description mentions a log level, but it remains unclear what the values are that QMP uses internally.

Phrased differently, if I have 5 as my programs log level and compare against that, will QMP be silent,  verbose, or log in excruciating detail everything that it does?

[2018-07-09 09:54] pohly opened #21 "docs: LaunchCustomQemu + blocking"
https://godoc.org/github.com/intel/govmm/qemu#LaunchCustomQemu says:

    The function will block until the launched qemu process exits.

This is a bit misleading, because it sounds like one has to call the function in goroutine to get continue working with the QEMU instance while it is running. But that's not true, because the function will return once QEMU is done with the virtual machine startu

[2018-07-09 09:55] markdryan commented on #20
govmm only calls the V method of your logger in one place and it always passes in the value of 1.  It's been a while since I looked at this but as far as I can tell, if you were using glog as your logging implementation, all the QMP logs would be output if you set -v to be >=1.

[2018-07-09 09:59] pohly commented on #21
Never mind. I just realized that the function works as described and the caller has to add `--daemonize`.

[2018-07-09 09:59] #21 closed

[2018-07-09 10:00] markdryan commented on #21
The description is accurate.  The function launches a qemu process and blocks until that process exits.  When using this function the user needs to provide all the arguments to the qemu process including --daemonize, if they want this behaviour.  If they don't provide --daemonize, and there's no obligation to do so, the function will block until the VM exits, and so in this case, the user may well

[2018-07-09 10:34] pohly commented on #21
@markdryan you are right, I realized that myself shortly after filing the issue and going back to the example.

But I'm now facing the issue that QEMU 2.12.0 rejects `--daemonize` when combined with `--nographic`. How are others dealing with this?

If I invoke LaunchCustomQemu in a goroutine, then getting the QMP connection established will become tricky: one has to wait for the socket to appear w

[2018-07-09 13:08] markdryan commented on #21
@pohly In ccloudvm ( https://github.com/intel/ccloudvm/blob/master/ccvm/vm.go#L44 ) we use "-display none -vga none" in conjunction with -daemonize.  This seems to work fine on xenial and bionic (which has 2.11.1).  I realise display=none is not the same as nographic but it does prevent a display.

[2018-07-25 17:06] egernst opened #26 "add macvtap hotplug support for network"
Currently only supports TAP.  Need to make it configurable so we can also support macvtap.

[2018-07-25 17:06] egernst commented on #26
@amshinde

[2018-07-25 17:08] egernst opened #27 "clarify queue handling for network device hotplug"
should clarify https://github.com/intel/govmm/pull/24/files#diff-3f8ad3b51588f02283eda2d19c5ffd06R741

I assume that the default queues will be one if an argument is not specified to qemu.  We should verify this and add a clarifying comment to the code, as it isn't clear in the qemu documentation.

@caoruidong can you please drive this?

[2018-07-26 02:41] caoruidong commented on #27
According to https://qemu.weilnetz.de/doc/qemu-qmp-ref.html, queues option is for multiqueue  tap

number of queues to be created for multiqueue capable tap

In kata, we have

		if queues == 0 { //Legacy compatibility
			queues = 1
			if tuntap.Flags == 0 {
				req.Flags = uint16(TUNTAP_DEFAULTS) //TUNTAP_DEFAULTS = unix.IFF_TUN_EXCL | unix.IFF_ONE_QUEUE
			}
		} else {
			// For best peformance s

[2018-07-26 08:10] markdryan commented on #27
Great.  Thanks for clarifying.  I think we can close this issue.

[2018-07-26 08:10] #27 closed

[2018-08-08 14:49] #26 closed

[2018-08-15 07:39] ydjainopensource opened #37 "add support for s390x"
Quite a few open source projects have govmm as a dependency. It makes sense to include support for mainframes here to allow the users to have cross platform support

[2018-08-21 08:31] alicefr commented on #37
A possible smooth solution could be to change the constants in [`qemu.go`](https://github.com/intel/govmm/blob/master/qemu/qemu.go) by removing `-pci`.  With `qemu-system_x86_64` that are alias for the pci device while for `qemu-system-s390x` are the alias for the ccw devices.

[2018-08-23 16:56] devimc commented on #37
@ydjainopensource can you add more information about what features you need? Currently we are using govmm  to run kata-containers on x86_64, arm64 and ppc64

[2018-08-24 05:51] alicefr commented on #37
Yes, that's why we need the changes. @ydjainopensource  is working on the [`s390x` support](http://lists.katacontainers.io/pipermail/kata-dev/2018-August/000294.html) for Kata. On `s390x`, the pci devices don't properly work and we need to use `ccw` devices. It's tricky to change the device name inside Kata code.

[2018-08-24 13:58] jodh-intel commented on #37
Hi @ydjainopensource, @alicefr - I'm not quite clear if you are asking us to have zSeries support added to govmm, or if you are simply stating the issues which you plan to solve in a PR?

I don't believe we have access to zSeries systems, so if you would be able to raise a PR, that would be superb :smile:.

We are of course more than happy to help out where we can. Feel free to get in contact dire

[2018-08-24 14:16] devimc commented on #37
@ydjainopensource I guess you are working on that, so I'll assign you :smile:

[2018-08-24 16:17] rbradford commented on #37
@alicefr although I understand your proposal about removing the "-pci" suffices from various constants. I worry that it would, in effect, be an ABI break.

However I think introducing version without the suffix that would be correctly mapped (and switching code to use them) would be the best plan:

Here is current alias table from QEMU (trimmed to drop those not relevant for govmm and Kata):

http

[2018-08-24 17:32] ydjainopensource commented on #37
@jodh-intel The port would require mostly just changing `pci` to `ccw`. So yup one may call that a single issue. As for the CI, i am currently setting that up (ran into a few issues with iptables). They should be hopefully up and running by monday.

@devimc Thanks for assigning me.

@rbradford That's exactly what we plan to do. We also have a very minor change in the console type which I will incl

[2018-08-27 08:18] alicefr commented on #37
@rbradford ok good to know. If you agree to introduce a s390 flag, we can introduce a similar construct for the various constants. The issue aims to understand what it's possible to introduce inside the library and then proceed to a PR. @ydjainopensource we need to take into account also in [`qmp.go`](https://github.com/intel/govmm/blob/1a16b5f98f133796f9c5e9b6ae3aa6d786cff9b1/qemu/qemu.go#L866)

[2018-08-30 18:41] eguzman3 opened #46 "add support for all device driver flags"
In order to support more device configurations it would make sense to expose all the available device driver options either by adding them to the existing device structs or by providing a generic way to pass arbitrary device driver options.

[2018-08-31 20:11] egernst commented on #46
@mcastelino @amshinde - heads up.

[2018-09-06 17:19] egernst commented on #46
@eguzman3 - to help make sure we fix this to match your use case, is it possible to create a POC PR in the Kata runtime repository which modifies the vendored files and has included govmm + runtime changes?

[2018-11-20 16:09] alicefr opened #61 "preparation for s390x support"
I'm working on the s390x support for `kata` and `govmm`. This issue tracks the modifications of the govmm code in order to be able to gradually add s390x support. These limitations or differences need to be taken into account:
- qemu on s390 uses ccw devices and not pci
- no vhost-user device support. See https://github.com/kata-containers/runtime/issues/659
- the `mq` flag has no vectors flag. Se

[2018-11-20 16:10] alicefr commented on #37
The issue https://github.com/intel/govmm/issues/61 tracks the discussion for the preparation for s390x support

[2018-11-21 11:53] jingxiaolu opened #62 "Proposal: add support for -pidfile option"
In qemu options, there is `-pidfile` where it saves its pid of main qemu process.

Sometimes we need this pid, and applying cgroups or prlimits for resources limitations.

I would like to add an option to `Config struct` so that user can configure it before `LaunchCustomQemu()`~

[2018-11-22 07:57] #62 closed

[2018-11-22 11:09] lifupan opened #65 "qemu's process maybe reaped by other goroutine reaper"
Some programs using this vendor may have their own children reapers which has reaped the
qemu's process before cmd.Wait to reap it. For this case, the cmd.Run/cmd.Wait
will get an error contains substring of "no child processes", thus it's needed
to ignore this error and deal it as success.

[2018-11-29 10:29] alicefr opened #70 "qemu: change CID of VSOCK to uint64"
The 	ContextID of VSOCK should be a `uint64` not a `uint32`. That provokes an endianess issue in the kata-runtime. See https://github.com/kata-containers/runtime/issues/947. Qemu requests an `uint64`:
[code]

[2018-11-29 16:40] #70 closed

[2018-11-30 06:34] teawater opened #72 "qemu/qmp: preparation for s390x support cannot pass build with kata runtime"
https://travis-ci.org/kata-containers/runtime/jobs/461613820

[code]

[2018-11-30 10:12] #37 closed

[2018-11-30 13:13] devimc commented on #72
cc @alicefr

[2018-11-30 13:16] markdryan commented on #72
Might this be fixed by https://github.com/intel/govmm/pull/68?

[2018-11-30 13:39] rbradford commented on #72
Looks like it might be a mangled vendored directory update...that git revision doesn't have those function calls at those lines: https://github.com/kata-containers/runtime/pull/957/commits/f72ea58177788b6103b4b06d62bb2b9d19693f05#r237861868

[code]

[2018-11-30 14:04] markdryan commented on #72
@rbradford I think you're correct.  It does look like a vendoring issue.  The ppc64le builds are working okay for me, e.g.,

GOARCH=ppc64le go install ./...

builds me a package

[2018-11-30 14:11] alicefr commented on #72
hi, I saw it right now. I opened a [PR](https://github.com/kata-containers/runtime/pull/960) that updates cid for vsock plus the refactoring I did for the s390 preparation.

[2018-11-30 14:15] markdryan commented on #72
@alicefr This doesn't look like an issue with govmm.  It seems to be a vendoring issue with a PR sent to the kata containers project, so nothing for us to worry about.  It looks like the original kata PR has been updated.  As soon as it passes the Kata CI I'll close this bug.

[2018-11-30 14:15] markdryan commented on #72
@alicefr But it has made me realize that the govmm CI is not actually testing the s390x build.  I'm going to submit a small patch for this.

[2018-11-30 14:17] alicefr commented on #72
@markdryan yes you're right!Are you in charge of the CI for govmm?

[2018-11-30 14:20] markdryan commented on #72
@alicefr Yes.  I was just planning to check s390x builds, i.e., do a GOARCH=s390x go install ./... There's not much else we can do in travis.

[2018-11-30 14:55] rbradford opened #75 "bump golang versions on travis"
Current versions that travis tests are 1.8, 1.9 and tip. Should consider adding more recent versions (and dropping old ones?)

[2018-11-30 14:56] markdryan commented on #75
Agreed.  I also noticed this when editing the file recently.  Thanks for submitting the bug.

[2018-12-03 09:22] alicefr commented on #72
I just wondering if I can request a test system for s390x also for govmm

[2018-12-03 09:53] alicefr commented on #72
you need a s390x VM and run there the go test case. Unfortunately, emulation on s390 is not supported by IBM and I cannot help with that. Just for your info, I tried on my system if user emulation worked with go test and it didn't

[2018-12-03 10:04] alicefr commented on #72
The only supported emulator is zpdt https://www.ibm.com/us-en/marketplace/z-systems-development-test-environment. i don't have so much experience, but I could try to make it working.

[2018-12-03 10:36] markdryan commented on #72
@alicefr zpdt doesn't look like a free product.  I don't think we could integrate it into the CI system of a open source project.  QEMU does seem to have some support for s390x.  Is it possible to boot linux running on an s390x qemu instance without any proprietary components?  If so we could try this.  However, this would be a big change to govmm as we would need to switch CI systems from travis

[2018-12-03 11:40] alicefr commented on #72
@markdryan there're some qemu version that have s390 support. As I said, I cannot help you because IBM does't support IBM qemu emulation for s390. I also know that other communities have issue with s390 emulation. The alternative could be to add a s390 VM to your CI. I can request one as I have done for Kata

[2018-12-03 12:04] markdryan commented on #72
That sounds interesting.  How would this work in practice?  Would there be some code in the VM that automatically monitors github for PRs and that then runs the tests?

[2018-12-03 12:08] alicefr commented on #72
Do you use jenkins for govmm? You could add the system that I provide to you as slave?

[2018-12-03 12:18] alicefr commented on #72
You might add the s390x VM as slave.I need to check if travis supports s390x. I'm sure for jenkins but not for travis

[2018-12-03 13:00] alicefr commented on #72
sorry, that doesn't work for with travis and s390x. Do you test Kata on `arm`?

[2018-12-03 13:33] alicefr commented on #72
oh nice!you're right :)

[2018-12-03 23:12] sboeuf opened #80 "Allow for disable-modern from QMP"
Govmm provides some proper knobs to use `disable-modern` on `virtio-pci` devices that are coldplugged, but didn't do the same for QMP.
We need to make sure that hotplug works great when being run in nested environment that requires virtio 0.9 instead of 1.0, hence we need to provide the caller to enable or disable `disable-modern`.

[2018-12-05 20:12] #80 closed

[2019-01-28 12:42] nitkon opened #83 "qemu: Pass only relevant args to ExecuteCPUDeviceAdd"
Reference: https://github.com/kata-containers/runtime/issues/1155

[2019-01-28 16:43] #83 closed

[2019-02-22 19:03] zhsj commented on #46
I'd also like to see this feature. But I haven't contributed to either kata nor govmm before, not sure how much I can help here.

[2019-02-28 10:51] markdryan commented on #46
Supporting all available device driver options would be tricky.  We'd probably need to start auto-generating the GoVMM API from the QMP schema, and this may not be so easy particularly when dealing with multiple versions of the API.  Might be something to aim for, for I suspect it would be a lot of work.

GoVMM already has a generic way to invoke QMP calls, QMP. executeCommandWithResponse.  The on

[2019-02-28 11:26] zhsj commented on #46
@markdryan I think expose `executeCommandWithResponse` would be great. My case is that I have a private driver(and with custom driver flags) that hasn't been merged into qemu upstream, thus auto-generating from QMP schema wouldn't work me either.

[2019-03-13 13:29] woshijpf opened #88 "execute query-hotpluggable-cpus qmp command return mixed message"
Problem description see https://github.com/kata-containers/runtime/issues/1363

[2019-03-13 14:49] #88 closed

[2019-04-15 09:23] lifupan opened #92 "VirtioBlock device driver is wrong"
VirtioBlock device driver should be "virtio-blk-pci" instead of "virtio-blk".

[2019-04-15 09:34] markdryan commented on #92
I don't know enough about qemu to review this.  We have used virtio-blk since the very start of the project, #e193a77b.  @sameo, you added the original virtual block device driver.  Can you confirm what we currently have is correct.

@alicefr Would this PR have any impact for s390x?

[2019-04-15 10:06] rbradford commented on #92
I *think* virtio-blk maps to virtio-blk-mmio or virtio-blk-pci as required. (code is in vl.c)

@lifupan Are you seeing a problem with this?

[2019-04-15 11:42] alicefr commented on #92
@markdryan the `virtio-blk` doesn't work on s390x yet. See https://github.com/kata-containers/runtime/issues/1153 . Up to now, only the `virtio-scsi` option is working. So no harm for s390x

/cc @tuan-hoang1

[2019-04-15 11:45] alicefr commented on #92
BTW @rbradford is right, the `virtio-blk` is an alias for `virtio-blk-pci`:
[code]

[2019-04-15 11:56] alicefr commented on #92
The alias is still there in qemu code (see https://github.com/qemu/qemu/blob/afccfc0c4c6134a7bc9da6375996b3b91d291de4/qdev-monitor.c#L59).

[2019-04-15 12:06] lifupan commented on #92
@rbradford  @alicefr The reason I raise this issue is that I found there is a mismatch for this driver define between kata and govmm; kata defined it as "virtio-blk-pci", at result, this mismatch caused the isVirtioPCI[DeviceDriver(driver)]  in qmp.go always return "false".

[2019-04-15 12:18] alicefr commented on #92
I see. Probably. it'll be useful to avoid the alias because it'll be dropped in the future by the qemu community. We already had the same discussion when I added the s390x support (https://github.com/intel/govmm/issues/37#issuecomment-415808475). You can take as example the `virtio-scsi-pci` https://github.com/intel/govmm/blob/b3e7a9e78463a10f2a19e1a966c76a3afb215781/qemu/qemu_arch_base.go#L35

[2019-04-15 12:28] markdryan commented on #92
Is there a consistency issue in kata?  Doing a search on the runtime reports 9 uses of virtio-blk and 1 of virtio-blk-pci.

https://github.com/kata-containers/runtime/search?q=virtio-blk&unscoped_q=virtio-blk

https://github.com/kata-containers/runtime/search?q=virtio-blk-pci&unscoped_q=virtio-blk-pci

[2019-04-15 12:47] lifupan commented on #92
Hmm, if you guys think it's a good option to keep the alias of "virtio-blk" which works for  both of the x86 and s390, I can send a PR to kata to unify it to "virtio-blk".

[2019-04-15 13:00] markdryan commented on #92
I'm not quite sure what the best thing to do here is.  We could add a new constant VirtioBlockPCI DeviceDriver = "virtio-blk-pci" and add it to the the two isVirtioPCI maps.  virtio-blk would continue to work as before, and this should fix the issue.  @jodh-intel, @sboeuf any opinions on this?

[2019-04-15 13:57] sboeuf commented on #92
@markdryan

If this works for @lifupan, I agree with this solution!

[2019-04-17 07:22] #92 closed

[2019-07-03 11:40] Ace-Tang opened #97 "Feature request: support x-pci-vendor-id and x-pci-device-id pass to qemu"
I wonder if vfio device can add  x-pci-vendor-id and  x-pci-device-id parameter pass to qemu.
Since some vendor id like 1ded can not be identified by virtio-pci driver, so I have to determine a specified vendor id pass to qemu

[2019-07-04 09:21] alicefr opened #98 "s390x: add support for virtio-ccw"
In order to be able to hotplug and use the virtio-blk-ccw for kata. Each device needs to be identified by a device number. In this way, it's possible to determine which device number can be assigned to the hotplugged virtio-blk-ccw. This PR extends govmm to ba able to assign a devno to each device and it adds the virtio-blk-ccw device.

Main track issue for kata is https://github.com/kata-containe

[2019-07-05 07:09] #98 closed

[2019-07-09 14:39] #97 closed

[2019-07-17 12:31] devimc opened #102 "s390x: add checks for the CPU toplogy"
check socket, thread and die, see https://github.com/intel/govmm/pull/101#discussion_r304292530

[2019-07-26 13:59] #102 closed

[2019-08-26 12:34] alicefr opened #106 "s390x: no numa and memory-backend support"
This [PR](https://github.com/intel/govmm/pull/105) broke s390x because they insert `numa` and `memory-backend-ram` as default behvior. However, this combination is not supported on s390x.

[2019-09-02 08:22] #106 closed

[2019-09-13 06:56] jschintag opened #108 "virtio-blk: Add support for block device shared Read-Write"
Add support for the `share-rw` flag for `virtio-blk`.

[2019-09-16 07:15] #108 closed

[2020-04-23 08:17] hejianet opened #120 "Add max_ports option to virtio-serial device"
There is a max_ports option for virtio serial device in qemu.  Qemu enables ioeventfd by default for virtio-serial-pci, if max_ports is 31 by default, virtio-serial-bus will add 2+2+30*2=64 virtqueues.
 It will cost a lot of time overhead during boot time. It will be better that govmm provides max_ports for user to tun their qemu usecase

[2020-04-23 08:20] hejianet commented on #120
Can anyone resolve this issue except me? :)

[2020-04-23 13:49] hejianet commented on #120
Sure, I tested it on Kata arm64 by set max_ports=2, it reduces about 20-30ms
The key point is qemu will enable ioeventfd for virtio-serial-pci, and it takes too long time in virtio_device_start_ioeventfd_impl()->event_notifier_set()

[2020-04-23 13:51] hejianet commented on #120
Please enabel initdebug for kernel_parameter and the time reduced around virtio0 device(virtio-serial-pci)initialization

[2020-04-23 14:40] devimc commented on #120
I ran a test with `max_ports=2`, unfortunately for x86_64 the boot time is the same but the memory footprint increased :disappointed:

see http://jenkins.katacontainers.io/job/kata-metrics-runtime-ubuntu-16-04-PR/1942/console
https://github.com/kata-containers/runtime/pull/2638

[code]

since you tested this on amr64, cc'ing arm folks

cc @justin-he @Pennyzct @jongwu @stevecapperarm

[2020-04-24 02:54] hejianet commented on #120
Hi @devimc Thanks for your feedback
I verified your patch on x86, seems to work fine.
Before your patch:
[    0.330726] probe of virtio0 returned 1 after 26398 usecs
After your patch:
[    0.254729] probe of virtio0 returned 1 after 1081 usecs
IMO, there is no big side effect for setting "max_ports" except that you can't hotplug adding more serial ports/devices. I suspect that the boot time reduci

[2020-04-24 03:07] hejianet commented on #120
Also, attached the results on arm64
[before_patching.txt](https://github.com/intel/govmm/files/4526392/before_patching.txt)
[after_patching.txt](https://github.com/intel/govmm/files/4526393/after_patching.txt)

[2020-04-24 11:59] devimc commented on #120
@hejianet what about mem footprint? do you have some metrics?

[2020-04-24 15:14] devimc commented on #120
@hejianet ignore my comment regarding memory footprint, something else impacted in the memory footprint, see https://github.com/kata-containers/ci/issues/273

[2020-04-24 15:19] devimc commented on #120
@hejianet https://github.com/intel/govmm/pull/122

[2020-05-08 18:47] #120 closed

[2020-05-12 19:52] bpradipt opened #124 "Enable NUMA for ppc64le architecture"
NUMA support is available for Power (ppc64le) architecture. Since this is disabled in govmm, it prevents using virtiofs with Kata for ppc64le architecture.

I'm raising this issue to track the changes for enabling NUMA for ppc64le architecture

[2020-05-14 15:25] #124 closed

[2020-05-22 13:20] amorenoz opened #126 "RFE: Support vIOMMU"
For many usecases such as using userspace drivers (e.g: DPDK) to drive devices through VFIO, the presence of a virtual IOMMU device is needed.

Adding this issue to track the work needed to add such support.

[2020-05-27 13:54] #126 closed

[2020-06-09 06:27] raju010193 opened #129 "Example of usage"
Can you please provide usage with simple example in golang.

[2020-06-09 11:56] markdryan commented on #129
There is one simple example in the repo that launches and shuts down a VM.

https://github.com/intel/govmm/blob/master/qemu/examples_test.go

It builds its command line manually rather than using the structures in qemu.go

[2020-06-09 13:40] devimc commented on #129
Kata Containers, another good example, https://github.com/kata-containers/runtime/blob/master/virtcontainers/qemu.go

[2020-06-12 09:59] raju010193 commented on #129
i tried this example but i am getting error like panic: exit status 1. actually i am new to golang

[2020-06-12 11:16] markdryan commented on #129
The example expects to find a qcow2 image at the file /tmp/image.qcow2.  Try placing a qcow image at this location or modifying the example to point to a qcow file on your machine.  If this doesn't work, try add " -display none -vga none" to the list of parameters passed to qemu, e.g.,

params = append(params, "-display", "none", "-vga", "none")

[2020-06-16 16:17] raju010193 commented on #129
params := make([]string, 0, 32)
    // Rootfs
    params = append(params, "-drive", "file=/home/swamym/Downloads/ubuntu.qcow2,if=virtio,aio=threads,format=qcow2")
    // Network
    params = append(params, "-net", "nic,model=virtio", "-net", "user")
    // kvm
    params = append(params, "-enable-kvm", "-cpu", "host")
    // qmp socket
    params = append(params, "-daemonize", "-qmp", "unix:/home/

[2020-06-17 08:41] markdryan commented on #129
Unfortunately, govmm doesn't capture the error message that qemu prints to the screen when a VM fails to load.  The easiest way to see why your example isn't working is to place a fmt.Println(params) before the call to qemu.LaunchCustomQemu which should give you the list of parameters that are being passed to qemu.  Then try manually launching qemu with these parameters from the command line, e.g.

[2020-06-24 13:07] raju010193 commented on #129
okay,, We have aws instance and kvm already installed, now question is we need to connect aws and access the kvm and create the machine from my local device, do you have any idea about it?

[2020-08-06 12:19] Jakob-Naucke opened #133 "Add support for hot-plugging IBM Adjunct Processor (AP) devices"
To hotplug IBM Adjunct Processor (AP) devices into a VM, functionality besides the existing `ExecutePCIVFIODeviceAdd` is required, since the `device_add` command [is a little different](https://www.kernel.org/doc/html/latest/s390/vfio-ap.html#securing-the-apqns-for-our-example). See also Issue [#491](https://github.com/kata-containers/kata-containers/issues/491) in the Kata Containers project.

I

[2020-08-17 15:19] devimc opened #135 "Bad response status from coveralls"
travis CI is failing with the following error:

[code]

[2020-08-17 15:56] devimc opened #136 "Move x86 CI to github actions"
Travis CI is ridiculously slow, it takes too much time to run and sometimes it doesn't report the status, it gets stuck, see comment https://github.com/intel/govmm/pull/134#issuecomment-674718269
kata containers uses github actions to run some tests, they look stable and the CI run pretty fast, unfortunately only x86 is supported:
I propose to move x86 CI jobs to github actions and keep s390 jobs

[2020-08-18 15:18] #135 closed

[2020-08-19 12:15] #136 closed

[2020-08-19 12:16] #133 closed

[2020-09-27 01:44] jongwu opened #140 "need help to enable -pflash"
Here I need some help to enable "-pflash" in govmm. thanks!

In some arches like arm64, "-pflash" is needed  as UEFI volume.  Specially, two pflash volumes are used in arm64,  of which one is static for the UEFI firmware and eother one to store variables. So it's better to define pflash object as []string in qemu.go. Accordingly, a helper to append pflash to "QemuParams" is also needed.

@jodh-int

[2020-09-28 09:57] jodh-intel commented on #140
Hi @jongwu - This makes sense. But I'm not clear on what help you need here?

[2020-09-28 10:01] jongwu commented on #140
@jodh-intel  I can't contribute to this project for legal police of Arm. So I need someone help to enable this.

[2020-10-05 13:00] jongwu commented on #140
@edmond-hk - can you help take this?

[2020-10-05 16:12] jodh-intel opened #141 "Move govmm repo to the Kata Containers organisation"
There are two projects that make use of govmm:

- https://github.com/kata-containers
- https://github.com/ciao-project/ciao

However, Ciao is no longer being maintained (it's archived), hence we can now move govmm into the Kata Containers organisation!

# Why?

The Kata Containers GitHub organisation is the logical "parent" for govmm now that there is only a single user of govmm; it makes the code

[2020-10-05 16:18] jodh-intel commented on #141
/cc @markdryan, @sameo.

[2020-10-06 02:31] edmond-hk commented on #140
Hi @jongwu, it seems easy to do, I can try it.

[2020-10-07 11:52] mazzy89 opened #142 "Passing -serial stdio"
If I would like to pass the flag `-serial stdio`, would be possible to do that using the `Config` object or would I need to use `LaunchCustomQemu` func?

[2020-10-07 13:36] devimc commented on #142
afaik - we have not added support for that option (`-serial`) but contributions are more than welcome :smile:

I wonder if you can achieve the same through `-chardev` and `-device`

 `-chardev stdio,id=char0 -device virtio-serial-pci,chardev=char0,id=dev0`

[2020-10-07 13:37] mazzy89 commented on #142
I would be more than happy to contribute. For the time I'm going to try your recommendation. Thanks a lot here for the fast reaction

[2020-10-07 16:16] mazzy89 opened #143 "Distro linux requires nographic but it does not go along with daemonize"
I have a distro Linux image that in order to be run with QEMU requires `-nographic` flag. If I use it together with `daemonize`, QEMU does not start and errors out saying that both flags cannot be used.

The problem is that by removing `daemonize`, the `cmd.Run()` hangs. I know that actually it does not hangs and it runs QEMU but it does not display anything because by design there is nothing atta

[2020-10-07 16:26] devimc commented on #143
I faced a similar issue with debian > 9, can you try with `-vga virtio` ?

[2020-10-07 19:05] mazzy89 commented on #143
unfortunately, it did not help

[code]

[2020-10-08 10:13] mazzy89 commented on #143
One thing still not clear is how kata runs qemu using daemonize and nographic both set to true https://github.com/kata-containers/runtime/blob/master/virtcontainers/qemu.go#L488

[2020-10-08 10:18] mazzy89 commented on #143
I made some progress. I've added `-display none` and `-vga none` and QEMU now seems to start. so these are the parameters

[code]

[2020-10-08 13:44] mazzy89 commented on #143
@devimc can you advise a way to read the output in particular the boot process of the OS?

[2020-10-08 14:08] devimc commented on #143
In Kata we use these options: -vga none -no-user-config -nodefaults -nographic -daemonize

I guess you have two options:

* append `console=ttyS0` to the kernel command line and `-serial file:/tmp/serial.log` to the QEMU command line

* append `-device virtconsole,chardev=charconsole0,id=console0 -chardev socket,id=charconsole0,path=console.sock,server,nowait` to the QEMU command line and run `soc

[2020-10-08 15:06] mazzy89 commented on #143
I see. Running with those flags runs perfectly. So no need to pass `-display none`.

I will try your recommendations.

[2020-10-08 16:10] mazzy89 commented on #143
I liked the idea to listen from the unix socket but QEMU did not like that

[code]

Launch config

[code]

[2020-10-08 16:19] devimc commented on #143
sorry I forgot to include the pci device `-device virtio-serial-pci,id=serial0`

[2020-10-09 06:54] jodh-intel commented on #141
:fireworks: govmm is now part of Kata Containers! :fireworks: :smile:

[2020-10-09 06:54] #141 closed

[2020-10-09 06:57] jodh-intel commented on #140
@jongwu - Please see https://github.com/kata-containers/govmm/issues/141. The `govmm` project is now part of Kata Containers which will make it easier for you to contribute :smile:

[2020-10-09 07:08] jongwu commented on #140
thanks @jodh-intel - 👍

[2020-10-09 08:10] jodh-intel opened #145 "Update files to use new GitHub organisation name"
govmm is now part of the `kata-containers` GitHub organisation, so update to reflect this.

See also: #141.

[2020-10-09 08:48] fidencio opened #147 "govmm repo should follow the same actions / rules as any other repo under Kata Containers"
The easy to spot actions that should be changed are:
- [ ] govmm should require 2 reviews for merging
- [ ] Kata Containers CI must be integrated to this repo
  - This one includes:
     - [ ] travis
     - [ ] jenkins
     - [ ] labels checks
     - [ ] DCO check
- [x] labels should be added to the repo

[2020-10-09 08:49] fidencio commented on #147
Please, feel free to add more of the missing things to the list.

[2020-10-09 09:07] jodh-intel commented on #147
Thanks for raising @fidencio - I'll add the labels...

[2020-10-09 09:31] jodh-intel commented on #147
I've now added all the standard labels: https://github.com/kata-containers/govmm/labels

[2020-10-09 13:01] #145 closed

[2020-10-10 10:13] advancedwebdeveloper opened #149 "Compilation issues, for govmm, on Windows 10 (Go 1.15.2)"
I was curious what blocks this package from compiling, on Windows.

So my environment is like follows:

[2020-10-10 10:15] advancedwebdeveloper commented on #149
[This](https://github.com/kata-containers/govmm/blob/master/qemu/image.go)  file compiles:

[2020-10-10 10:16] advancedwebdeveloper commented on #149
Not sure if there is a bug, for this one:

[2020-10-10 10:16] advancedwebdeveloper commented on #149
Same here

[2020-10-11 12:34] mazzy89 commented on #143
@devimc I've tried to create the `CharDev`

[code]

but always missing `-device virtio-serial-pci,id=serial0` do you have any recommendations how to create that using the struct rather than passing the params by string?

[2020-10-11 15:22] mazzy89 commented on #142
I've tried your recommendation but unfortunately, the valid func for a char device does not let me set the configuration as described by you

[code]

[2020-10-11 19:04] mazzy89 commented on #143
I think I found a way to make this via structs as you do in kata-containers https://github.com/kata-containers/runtime/blob/d5acbad6d6021dd41ccd12d68aa6c9aa0d6744d7/virtcontainers/qemu_arch_base.go#L318

[2020-10-12 09:50] jodh-intel commented on #149
Hi @advancedwebdeveloper - Thanks for raising this. However, the primary target for govmm has always been Linux afaik.
govmm uses Unix sockets for QMP comms but there may well be other complications trying to get this working on Windows.

Out of interest, what is your use-case? The main user of govmm is Kata Containers (https://github.com/kata-containers/runtime and https://github.com/kata-contain

[2020-10-12 16:27] mazzy89 commented on #143
Despite how fast I listen to the `console` socket I always miss the starting of the message.

Would make sense @devimc to tune here https://github.com/kata-containers/govmm/blob/546cc55ea4192cb5260941396ce2b52b2b803c36/qemu/qemu.go#L555 and give the possibility to set the socket to `NoWait: false` so Qemu would not start before I listen to that socket?

[2020-10-15 14:17] mazzy89 commented on #143
removing `nowait` the func `LaunchQemu` blocks and does not return. Is Kata able to capture the full logs from the beginning?

[2020-10-16 13:32] devimc commented on #143
No, and I'm not sure if that is possible since `nowait` is asynchronous

[2020-10-16 13:34] mazzy89 commented on #143
Yeah makes sense. Indeed I've tried and it does not work. it's ok. it's a kind of acceptable trade-off. We can close this for me. Thanks a lot @devimc for the support here.

[2020-10-16 13:38] devimc commented on #143
you're welcome. closing issue

[2020-10-16 13:38] #143 closed

[2020-10-16 13:53] devimc commented on #142
uhmm interesting, In Kata we append a SeialDevice before the CharDevice

[code]
https://github.com/kata-containers/kata-containers/blob/0d5d69e8cd07f19ed89153ab32c4475ae67b5164/src/runtime/virtcontainers/qemu_arch_base.go#L306

[2020-10-16 13:54] mazzy89 commented on #142
yeah in fact the validation func for serial device and char device is different

[2020-10-19 07:18] liubin opened #152 "Add support for `pvpanic` device and "dump-guest-memory" command"
Add `pvpanic` can let QEMU issue an `GUEST_PANICKED` event to outside. And "dump-guest-memory" can get the guest memory dump if wanted.

All these two will help to debug/manage QEMU VMs.

[2020-10-20 05:20] #152 closed

[2020-10-22 15:38] #140 closed

[2020-11-19 08:43] jongwu opened #155 "arm64 is excluded in dimm support check list"
in dimm support check func, arm64 is excluded. but arm64 does support memory dimm in qemu.

`isDimmSupported(config *Config) bool {
	switch runtime.GOARCH {
	case "amd64", "386", "ppc64le":
		if config != nil && config.Machine.Type == MachineTypeMicrovm {
			// microvm does not support NUMA
			return false
		}`

[2020-11-19 13:48] #155 closed

[2021-01-07 22:45] egernst opened #157 "Should be able to blkdev-add a device as RO"
**Which feature do you think can be improved?**

We should be able to Hotplug a block device to  QEMU as read-only. The existing `ExecuteBlockdevAdd` doesn't allow for specifying this option.

**How can it be improved?**

Add ability to specify the access permissions associated with a block device which is being added.

[2021-01-12 01:37] #157 closed

[2021-01-17 16:28] mazzy89 opened #159 "MacVTap seems not set up properly."
# Description of problem

MacVTap seems not set up properly.

When I create a NET device of type MacVtap in this way:

[code]

I get the following output:

[code]

# Expected result

Shouldn't I get also in the line the location of the tap device like `3<>/dev/tap5`? in this way seems the macvtap does not work

# Actual result

(replace this text with an explanation of what actually happened)

# F

[2021-01-18 14:09] devimc commented on #159
@mazzy89 - in this case `fds=3` points to `/dev/tap5`, why are you expecting to see it in the cmdline?

[2021-01-18 14:33] mazzy89 commented on #159
yes. I saw all the examples on the web having the bash redirection `3<>/dev/tap5` so I thought it was somehow necessary. Unfortunately at the moment, macvtap does not work for me but it should not be then the case.

[2021-01-18 14:36] mazzy89 commented on #159
@devimc which Linux kernel module is required for Macvtap? do you know by chance?

[2021-01-18 15:00] devimc commented on #159
@mazzy89 indeed, you need that module, take a look to the list of virtio and non-virtio modules that kata needs, maybe you are missing one https://github.com/kata-containers/kata-containers/tree/2.0-dev/tools/packaging/kernel/configs/fragments/common

[2021-01-19 16:39] jodh-intel commented on #149
Hi @advancedwebdeveloper - I hope you don't mind, but I've assigned this to you ;) Feel free to close it if you wish to.

[2021-01-21 23:06] mazzy89 commented on #159
Actually it work without without setting the redirection. All good here, closing and thanks for the support.

[2021-01-21 23:06] #159 closed

[2021-02-25 15:54] Jakob-Naucke opened #160 "Non-DIMM setups cannot use memory backends"
When using an architecture/setup that does not have DIMM support, memory backends are ignored. Such setups can actually use memory backends provided the memory backend is specified as a [`-machine`](https://qemu-project.gitlab.io/qemu/system/invocation.html#hxtool-0) parameter (instead of a `-numa` option). This is required for enabling virtio-fs support for s390x in Kata. I have prepared a PR.

[2021-03-29 20:58] #160 closed

[2021-04-01 15:17] egernst opened #165 "remove chatty logs"
The output govmm when utilized with Kata is pretty verbose in some often-called-functions.

Let's remove the info print @ https://github.com/kata-containers/govmm/blob/master/qemu/qmp.go#L270-L272

[2021-04-26 15:49] Jakob-Naucke opened #170 "VhostUserDevices have no CCW device numbers"
VhostUserDevices have no CCW device numbers

QEMU device structs (e.g. [`FSDevice`](https://github.com/kata-containers/govmm/blob/master/qemu/qemu.go#L393)) carry a CCW device number. (CCW is a bus used on s390x/IBM Z.)
This is missing for [`VhostUserDevice`s](https://github.com/kata-containers/govmm/blob/master/qemu/qemu.go#L1201). PR is prepared.

[2021-04-26 21:36] #165 closed

[2021-04-28 10:06] Jakob-Naucke opened #172 "Add support for Secure Execution"
Secure Execution, also known as Protected Virtualization in QEMU, is a confidential computing technology for s390x (IBM Z & LinuxONE). Let's enable it in GoVMM! PR is prepared.

[2021-04-28 16:36] #170 closed

[2021-05-19 07:01] Amulyam24 opened #174 "Add support for PEF"
Enabling the support for Protected Execution Facility(PEF) which is he confidential computing technology on ppc64le.

[2021-05-20 12:59] #172 closed

[2021-05-20 14:24] #174 closed

[2021-06-20 14:02] marcel-apf opened #176 "Allow hot-plugging virtio-mem-pci devices on PCI bridges"
**Which feature do you think can be improved?**
virtio-mem-pci devices can be hotplugged only on the root bus.

**How can it be improved?**
Devices can't be hotplugged  into the root bus of PCIe machines, eg Q35.
That means the feature can't be used on q35 machines.

**Additional Information**
Extend the API to optionally allow hotplugging memory devices to PCI bridges.

[2021-06-22 07:55] #176 closed

[2021-06-23 15:13] Jakob-Naucke opened #178 "Minor fixes required for CCW iommu_platform"
iommu_platform is required for Secure Execution, but for some devices, GoVMM will omit it (my bad) or put an extra comma. PR is prepared.

[2021-07-01 14:05] Jakob-Naucke opened #180 "Make parameter building consistent"
Looking over this file (`qemu/qemu.go`, editorial note), there are a _lot_ of functions (88, 18 of which are `QemuConfig()` ones ;) and each seems to handle building up these params differently (either appending with a comma, then joining with a null string; or appending without a separator, then joining with a comma).

_Originally posted by @jodh-intel in https://github.com/kata-containers/govmm/

[2021-07-01 14:05] Jakob-Naucke opened #181 "Refactor iommu_platform tests"
There is one test that tests `IOMMUPlatform` for `FSDevice`: https://github.com/kata-containers/govmm/blob/263136e69ac80bf0a0136b26e82b8dcbe3328d6a/qemu/qemu_s390x_test.go#L84
but that's 25 lines for that tiny flag, and that times all the devices... the _ideal_ thing would be to refactor testing to allow for these flags.

_Originally posted by @Jakob-Naucke in https://github.com/kata-containers/go

[2021-07-13 14:28] ariel-adam commented on #180
@Jakob-Naucke could you clarify what needs to be done here?

[2021-07-13 14:36] Jakob-Naucke commented on #180
e.g. https://github.com/kata-containers/govmm/blob/263136e69ac80bf0a0136b26e82b8dcbe3328d6a/qemu/qemu.go#L1027-L1031 vs. https://github.com/kata-containers/govmm/blob/263136e69ac80bf0a0136b26e82b8dcbe3328d6a/qemu/qemu.go#L1239-L1242 is inconsistent -- one joins by commas, the other always puts the comma for each slice element and just concatenates them (btw, the variable naming is also inconsisten

[2021-07-14 07:06] abel-von opened #182 "GlobalParam should be a string slice, but not a string"
**Which feature do you think can be improved?**

`GlobalParam`  field of  Config  should be a string slice, and the global parameter should be specified one by one.

If we want to specify more than on global parameters, it should be like this `-global kvm-pit.lost_tick_policy=discard -global pcie-root-port.fast-plug=1 -global pcie-root-port.x-speed=16`,  the definition right now is a string and it

[2021-07-19 08:37] #180 closed

[2021-07-20 12:20] LiangZhou-CTY opened #185 "add support for "sandbox" feature to qemu"
In order to support "sandbox" feature on qemu, I need to update the govmm code.

Param "-sandbox on" in qemu can introduce another protect layer on the host, to make the secure container more secure.

The default option is disable because this feature may introduce some performance cost, even though user can enable /proc/sys/net/core/bpf_jit_enable to reduce the impact.

Please refer to https://gi

[2021-07-23 13:36] #185 closed

[2021-07-23 15:34] Jakob-Naucke opened #189 "QEMU removed -realtime -- do we need to update the virtcontainers API?"
[QEMU removed the `-realtime` option](https://wiki.qemu.org/ChangeLog/6.0#Incompatible_changes), instead, `-overcommit mem-lock=on|off` should be used. This is a trivial change to make in GoVMM, but the [virtcontainers API 1.0](https://github.com/kata-containers/kata-containers/blob/d75c01bd6719533b4183d976070d280547659c5e/src/runtime/virtcontainers/documentation/api/1.0/api.md) has the `Realtime`

[2021-07-23 15:39] fidencio commented on #189
It does.  But we should do that once we add support to QEMU 6.0 on our side.

@wainersm, @jcvenegas, I remember you, Carlos, was working on getting QEMU 6.x to be used. Is this something we should do for 2.3.x?  Or do you guys see this as something to be done ASAP ... even being late in the cycle for 2.2.x?

/cc @kata-containers/architecture-committee  as well.

[2021-07-23 15:44] Jakob-Naucke commented on #189
I got into this because `-realtime` is not supported on s390x, but `-overcommit` is. Honestly though, I don't think it's critical to rush this into 2.2.x.

[2021-07-23 20:26] wainersm commented on #189
@fidencio I am only aware of that https://github.com/kata-containers/kata-containers/pull/1958 which bump to QEMU 6.0 on our side. I reviewed and approved it while ago, it is pending more reviews. Or if none feature is demanding the update then we can wait until QEMU 6.1 which the release is schedule to the end of August according to https://wiki.qemu.org/Planning/6.1 .

[2021-07-29 03:26] dgibson opened #191 "govmm uses incorrect "file" driver for blockdev backends"
# Description of problem

`ExecuteBlockdevAdd` and `ExecuteBlockdevAddWithCache` both appear to be intended to create block devices in the guest which backend onto a block device in the host.  That seems to be the way that Kata always uses it.  However `blockdevAddBaseArgs`, used by both those functions always uses the `file` driver, which is only intended for use with regular file backends.

Use

[2021-07-29 07:03] #191 closed

[2021-08-03 02:48] dgibson opened #193 "govmm uses deprecated 'props' field on 'object-add' commands"
# Description of problem

For both memory and NVDIMM adds, govmm needs to add `memory-backend-file` objects using the `object-add` qmp command.

Currently, govmm puts various properties for the new object in the `props` field of the `args` field to the basic QMP request.  However use of `props` has been deprecated in qemu since 5.0 (commit `5f07c4d60d09`) and is removed entirely in qemu 6.0 (commi

[2021-08-03 15:46] devimc opened #195 "[RFC] Moving this project into kata-containers repository"
Proposal
===

In today's (2021-08-02) Kata Containers Architecture Committee meeting we discussed the possibility of moving govmm repository (this repo) into kata-containers repository (https://github.com/kata-containers/kata-containers/tree/main/src/runtime/virtcontainers/pkg/qemu) this could simplify us a lot the things, development and bug fixing would be more agile and the integration with Kat

[2021-08-03 19:53] marcel-apf commented on #195
I fully agree with the approach. I would go even further and I would not advertise the govmm API as public so it will not be used by other projects. It will reduce maintenance as we will not have public APIs and it will allow us to remove obsolete code when not needed.

[2021-08-03 20:49] mazzy89 commented on #195
We are using actively the library and the govmm API. It would not be a problem if the library will be moved to a different GH org. However, it would be a problem if as suggested by @marcel-apf the govmm API won't be public anymore.

[2021-08-03 21:05] marcel-apf commented on #195
@mazzy89 in that case we need to limit ourselves to the proposed solution so it would allow you to continue to use the govmm project. I second @fidencio's  invitation to the weekly call as I am curious to understand how are you using the project since it seems so tight coupled to what the kata project needs 😀.

[2021-08-04 03:48] dgibson commented on #195
@mazzy98, the basic problem here is that maintaining a general purpose VMM interface is actually an enormously complex task, which the Kata team really doesn't have the wherewithal to do.  That's the underlying reason why I think we want to integrate this into Kata and allow it to become purely and unapologetically Kata specific.  This will significantly reduce maintenance burden.

Nothing will st

[2021-08-04 03:56] dgibson commented on #195
@devimc, I'd actually suggest a different approach here.  Including the physical repo with Kata helps with some problems, but allowing other projects to reference into the Kata repository to use the package means the package is still advertising itself as a maintained general purpose interface.  We simply don't have the spare resources to deliver that.

So instead, I think we should simply fork go

[2021-08-04 03:57] #193 closed

[2021-08-04 07:56] mazzy89 commented on #195
Thank you guys for providing transparently the reasons. I'd like to join the meeting next week and provide you the reasons how and why we use govmm but I totally understand your reasons. Maintaing a project requires resources. I will discuss this internally and perhaps we might take over because very interested on the govmm library.

[2021-08-05 02:05] dgibson commented on #195
Made an issue to track this from the fork/kata-containers side here: https://github.com/kata-containers/kata-containers/issues/2393

[2021-08-10 07:11] fidencio opened #196 "Enable the same linters that are uses on kata-containers' runtime"
In case the merge of govmm into the kata-containers repo happens, and it looks like the merge will happen using a `force-skip-ci` label, we must ensure we fix all lint errors **before** we do the merge.

However, the lint errors are run as part of the static-checks, which are being skipped because both projects had different rules for their commit messages.

So, please, before doing the merge, let

[2021-08-19 12:52] #178 closed

[2021-08-31 07:26] teawater opened #198 "Swap got fail"
[code]

The reason is https://github.com/kata-containers/govmm/blob/main/qemu/qmp.go#L782 is updated by commit 1b021929864fa45b643d9603d6615cc4b86235d7

[2021-08-31 07:33] fidencio commented on #198
/cc @dgibson

[2021-08-31 08:23] teawater commented on #198
file option is OK for use for raw file.
This code from qemu upstream
[code]

[2021-08-31 12:48] #198 closed

[2021-09-02 02:48] dgibson commented on #198
Bother.  I was afraid of that.  All the circumstantial evidence around that entry point suggested it was only intended for host block devices, not file mounts.  I looked for cases where we were using it for files, but I obviously missed that one, sorry.

Thanks for fixing this up.

[2021-09-08 01:58] dgibson opened #200 "govmm does not allow io-reserve, mem-reserve etc. properties to be specified for PCI bridges"
**Which feature do you think can be improved?**

The `BridgeDevice` type is used to add PCI or PCIe bridges to the VMM.

**How can it be improved?**

Currently it doesn't allow qemu's `io-reserve`, `mem-reserve` and `pref64-reserve` properties for the bridge device to be specified.

**Additional Information**

These parameters control the windows in PCI address spaces which are reserved for device

[2021-09-09 15:50] #200 closed

[2021-09-20 16:33] Jakob-Naucke commented on #189
@fidencio thanks for your review on the PR -- but do we need the API update?

[2021-09-20 16:37] fidencio commented on #189
As in the govmm update?  I think it doesn't hurt as @dgibson already merged a bunch of changes related to that.
see: https://github.com/kata-containers/kata-containers/pull/2502

[2021-09-20 16:41] Jakob-Naucke commented on #189
I meant: We still call this flag `Realtime` in virtcontainers: https://github.com/kata-containers/kata-containers/blob/45d40179c2f1bb6b3bbafa338557e196a9c7f540/src/runtime/virtcontainers/hypervisor.go#L423
but that name is kind of dead since v6 so it's a little confusing.

[2021-09-20 16:46] fidencio commented on #189
Oh, I see, IMHO we could keep it as it's there, but I'd like to hear from David on that.

[2021-09-20 16:48] Jakob-Naucke commented on #189
/cc @dgibson

[2021-09-20 16:50] wainersm commented on #189
is there any API stability guarantees on virtcontainers? Because I think such as API change will represent a break.

[2021-10-18 16:49] devimc commented on #189
@Jakob-Naucke let's remove it in favor of QEMU 6, wdyt?

[2021-11-18 07:29] liubin opened #205 "Not work with qemu 6.1"
With additional devices backended by socket file, will get an error:

FATA[0000] Starting the container "cf2df32dec4fa09dbd0cea7079a51ce6c770b6de7f3c816d810a370e3e6d3dcb" failed: rpc error: code = Unknown desc = failed to create containerd task: failed to create shim: QMP command failed: Failed to add chardev 'blk-958c95132b5bf0c2': 'wait' option is incompatible with socket in client connect mode:

[2021-11-18 15:56] #205 closed

[2022-01-19 17:40] fidencio commented on #195
Well, we did it: https://github.com/kata-containers/kata-containers/pull/3468.

[2022-01-19 17:40] #195 closed

[2022-01-19 17:43] fidencio commented on #181
#179, which should solve this one, has been merged a long time ago, closing the issue then.

[2022-01-19 17:44] fidencio commented on #149
As the GoVMM project has been moved under the Kata Containers project, please, feel free to open a new issue there in case you're still hitting it.

For now I'm closing the issue as there's no activity here since January 2021.

[2022-01-19 17:44] #149 closed

[2022-01-19 17:45] fidencio commented on #147
As the GoVMM project has been moved under the Kata Containers project, this makes this one already solved. :-)

[2022-01-19 17:45] #147 closed

[2022-01-19 17:45] fidencio commented on #75
Closing this one as we're currently testing using GitHub actions, with Golang 1.16 and 1.17.

[2022-01-19 17:45] #75 closed

[2022-01-19 17:46] fidencio commented on #72
As the GoVMM project has been moved under the Kata Containers project, please, feel free to open a new issue there in case you're still hitting it.

For now I'm closing the issue as there's no activity here since December 2018.

[2022-01-19 17:46] #72 closed

[2022-01-19 17:47] fidencio commented on #142
As the GoVMM project has been moved under the Kata Containers project, please, feel free to open a new issue there in case you're still hitting it.

For now I'm closing the issue as there's no activity here since October 2020.

[2022-01-19 17:47] #142 closed

[2022-01-19 17:47] fidencio commented on #129
As the GoVMM project has been moved under the Kata Containers project, please, feel free to open a new issue there in case you're still hitting it.

For now I'm closing the issue as there's no activity here since June 2020.

[2022-01-19 17:47] #129 closed

[2022-01-19 17:48] Jakob-Naucke commented on #181
@fidencio #179 fixed #178, not this. Can you transfer?

[2022-01-19 17:48] fidencio commented on #65
Closing this one as it's been fixed by: https://github.com/kata-containers/runtime/pull/1004

[2022-01-19 17:48] #65 closed

[2022-01-19 17:52] fidencio commented on #46
GoVMM has been transferred under the Kata Containers repo.  Please, feel free to re-open this issue there in case this is still something you want it to be tracked.

For now I am closing as there's no activity here since Feb. 2019.

[2022-01-19 17:52] #46 closed

[2022-01-19 17:52] fidencio commented on #20
GoVMM has been transferred under the Kata Containers repo.  Please, feel free to re-open this issue there in case this is still something you want it to be tracked.

For now I am closing as there's no activity here since Jul. 2018.

[2022-01-19 17:52] #20 closed